{% extends 'halaman/base.html' %}
{% load static %}

{% block content %}
<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('{% static 'halaman/assets/img/umkt.png' %}');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="title">PEJUANG S.KOM
                </h1>
                    <h4>Universitas Muhammadiyah Kalimantan Timur</h4>
            </div>
        </div>
    </div>
</div>

<div class="main main-raised">
    <div class="container">
        <div class="about-description text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h5 class="description">Informatika adalah disiplin ilmu yang mempelajari pengolahan informasi secara sistematis melalui komputer dan teknologi terkait. 
                        Bidang ini mencakup berbagai aspek seperti pemrograman, pengembangan perangkat lunak, analisis data, kecerdasan buatan, jaringan komputer, keamanan siber, dan manajemen basis data. 
                        Tujuannya adalah untuk mengembangkan teknologi yang memudahkan pengolahan, penyimpanan, dan penyebaran informasi, serta untuk meningkatkan efisiensi dan efektivitas dalam berbagai aplikasi industri dan sehari-hari.</h5>
                </div>
            </div>
        </div>
        <div class="about-team team-1">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="title">Kesan Dan Pesan</h2>
                    <h5 class="description"> Manfaatkan kesempatan belajar sebanyak mungkin. Pengetahuan adalah kekuatan, dan pendidikan adalah fondasi untuk masa depan yang lebih baik.</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img" src="{% static 'halaman/assets/img/faces/fotoku.jpg' %}" />
                            </a>
                        </div>

                        <div class="card-content">
                            <h4 class="card-title">AINNAYA MAGHFIRAH ISLAMI</h4>
                            <h6 class="category text-muted">PENULIS</h6>

                            <p class="card-description">
                                Saya Ainnaya mahasiswa Teknik Informatika Tahun angkatan 22.
                            </p>
                            <div class="footer">
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook"><i class="fa fa-facebook-square"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}